.parent {
  background-color: var(--color-peach);
  min-height: 100vh;
}

.main-content {
  min-height: 25vh;
  color: var(--color-white);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: var(--primary-font);
  color: #F5F5DC;
}
.title {
  text-align: center;
  font-size: 4rem;
  font-weight: 700;
}
.form-elements {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
  flex-wrap: wrap;
}
.form-elements input {
    /* flex: 1; */
  width: 100%;
  font-size: 1.5rem;
  outline: none;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
  
}
@media screen and (max-width:31.25em) {
    .form-elements input {
        width: 100%;
        border-radius: 0.5rem;
    }
 }


.search {
  padding: 2rem;
  border: none;
  font-weight: 600;
  word-spacing: 1.8;
  font-family: inherit;
}
.search.submit {
    border-left: none;
    background-color: black;
    color: var(--color-white);
}
.search,
.submit {
   
  outline: none;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}
@media screen and (max-width:31.25em) {
    .submit {
        border-radius: 0.5rem;
        width: 50%;
     
    }
 }

.submit:hover {
  background-color: var(--color-dark-peach);
  color: #000;
}
.col-elements {
  display: flex;
  flex-direction: row;
 margin-inline: 1.5rem;
}
@media screen and (max-width:31.25em) {
   .col-elements{
    flex-direction: column;
    gap: 2rem;
   } 
}

.result-content {
  background-color: var(--color-dark-peach);
  min-height: 100vh;
  width: 100%;
  font-family: var(--primary-font);
  font-weight: 600;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.content-parent{
    display: flex;
    flex-direction: column;
}
