:root {
  --color-dark-peach: #c599b6;
  --color-light-peach: #e6b2ba;
  --color-peach: #fad0c4;
  --color-faded-peach: #fff7f3;
  --color-white: #ffff;
  --primary-font: "Nunito", sans-serif;
  --secondary-font: "Roboto", sans-serif;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}
